*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
}

.border:hover{
    border: 1px solid white;
}
.navbar{
    height: 65px;
    width: 100%;
    background-color: #131921;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-amazon-logo{
    background-image: url("Image/amazon_logo.png");
    height: 55px;
    width: 130px;
    background-size: cover;
    background-repeat: no-repeat;
}

#search-button > #select-button{
    height: 35px;
    width: 46px;
    text-align: center;
}


.nav-address > p{
    margin-left: 30px;
    font-size: .80rem;
}

.location-logo > p{
    font-size: 1rem;
}

.location-logo{
    display: flex;
    align-items: center;
}

.location{
    background-image: url("Image/location1.png");
    height: 30px;
    width: 30px;
    background-size: contain;
    /* margin-bottom: 20px; */
}

.nav-search{
    display: flex;
    /* background-color: red; */
}

#search-button > #select-button{
    /* height: 80px; */
     /* width: 50px;  */
    /* background-color: #DADADA; */
    /* background-size: contain; */
    /* background: none; */
    border: none;
    height: 40px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.search-box{
    height: 40px;
    width: 500px;
    border: none;
    /* outline: solid #F3A847; */
    outline: none;
    font-size: 17px;
}

#search-icon-div{
    /* display: flex; */
    /* align-items: center; */
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    background-color: #F3A847;
}

#search-icon{
    background-image: url("Image/search_icon.svg");
    height: 20px;
    width: 20px;
    background-color: #F3A847;
    background-size: cover;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 10px;
}

#search-icon-button{
    /* margin: 0px; */
    margin-right: 20px;
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    background-color: #F3A847;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.nav-lang{
    display: flex;
    align-items: center;
}

#lang{
    height: 30px;
    width: 45px;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
#indian-flag{
    background-image: url("Image/indian_flag.png");
    height: 25px;
    width: 30px;
    background-size: cover;
    border: none;
    
}

.nav-account > #nav-sign-in{
    font-size: 0.8rem;
}

.nav-account > #nav-list{
    font-size: 1rem;
    font-weight: bold;
}

.nav-order > #nav-order-return{
    font-size: 0.8rem;
}
.nav-order > #nav-order-order{
    font-size: 1rem;
    font-weight: bold;
}

.nav-cart{
    background-image: url("Image/cart1.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}

#nav-cart{
    display: flex;
}

#nav-cart > p{
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 0px;
}

